acmesystem/ACME_Banking System-ejb/src/conf/wsdl/localhost_8080/B2B/CustomerFacade.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://facade.beans/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://facade.beans/" name="B2B">
<types>
<xsd:schema>
<xsd:import namespace="http://facade.beans/" schemaLocation="http://localhost:8080/B2B/CustomerFacade?xsd=1"/>
</xsd:schema>
</types>
<message name="add">
<part name="parameters" element="tns:add"/>
</message>
<message name="addResponse">
<part name="parameters" element="tns:addResponse"/>
</message>
<message name="transfer">
<part name="parameters" element="tns:transfer"/>
</message>
<message name="transferResponse">
<part name="parameters" element="tns:transferResponse"/>
</message>
<message name="createCreditRequest">
<part name="parameters" element="tns:createCreditRequest"/>
</message>
<message name="createCreditRequestResponse">
<part name="parameters" element="tns:createCreditRequestResponse"/>
</message>
<message name="purchaseOnCreditCard">
<part name="parameters" element="tns:purchaseOnCreditCard"/>
</message>
<message name="purchaseOnCreditCardResponse">
<part name="parameters" element="tns:purchaseOnCreditCardResponse"/>
</message>
<message name="paybackCreditCard">
<part name="parameters" element="tns:paybackCreditCard"/>
</message>
<message name="paybackCreditCardResponse">
<part name="parameters" element="tns:paybackCreditCardResponse"/>
</message>
<message name="depositSavingsAccount">
<part name="parameters" element="tns:depositSavingsAccount"/>
</message>
<message name="depositSavingsAccountResponse">
<part name="parameters" element="tns:depositSavingsAccountResponse"/>
</message>
<message name="withdrawSavingsAccount">
<part name="parameters" element="tns:withdrawSavingsAccount"/>
</message>
<message name="withdrawSavingsAccountResponse">
<part name="parameters" element="tns:withdrawSavingsAccountResponse"/>
</message>
<message name="getSavingsBalance">
<part name="parameters" element="tns:getSavingsBalance"/>
</message>
<message name="getSavingsBalanceResponse">
<part name="parameters" element="tns:getSavingsBalanceResponse"/>
</message>
<portType name="CustomerFacade">
<operation name="add">
<input wsam:Action="http://facade.beans/CustomerFacade/addRequest" message="tns:add"/>
<output wsam:Action="http://facade.beans/CustomerFacade/addResponse" message="tns:addResponse"/>
</operation>
<operation name="transfer">
<input wsam:Action="http://facade.beans/CustomerFacade/transferRequest" message="tns:transfer"/>
<output wsam:Action="http://facade.beans/CustomerFacade/transferResponse" message="tns:transferResponse"/>
</operation>
<operation name="createCreditRequest">
<input wsam:Action="http://facade.beans/CustomerFacade/createCreditRequestRequest" message="tns:createCreditRequest"/>
<output wsam:Action="http://facade.beans/CustomerFacade/createCreditRequestResponse" message="tns:createCreditRequestResponse"/>
</operation>
<operation name="purchaseOnCreditCard">
<input wsam:Action="http://facade.beans/CustomerFacade/purchaseOnCreditCardRequest" message="tns:purchaseOnCreditCard"/>
<output wsam:Action="http://facade.beans/CustomerFacade/purchaseOnCreditCardResponse" message="tns:purchaseOnCreditCardResponse"/>
</operation>
<operation name="paybackCreditCard">
<input wsam:Action="http://facade.beans/CustomerFacade/paybackCreditCardRequest" message="tns:paybackCreditCard"/>
<output wsam:Action="http://facade.beans/CustomerFacade/paybackCreditCardResponse" message="tns:paybackCreditCardResponse"/>
</operation>
<operation name="depositSavingsAccount">
<input wsam:Action="http://facade.beans/CustomerFacade/depositSavingsAccountRequest" message="tns:depositSavingsAccount"/>
<output wsam:Action="http://facade.beans/CustomerFacade/depositSavingsAccountResponse" message="tns:depositSavingsAccountResponse"/>
</operation>
<operation name="withdrawSavingsAccount">
<input wsam:Action="http://facade.beans/CustomerFacade/withdrawSavingsAccountRequest" message="tns:withdrawSavingsAccount"/>
<output wsam:Action="http://facade.beans/CustomerFacade/withdrawSavingsAccountResponse" message="tns:withdrawSavingsAccountResponse"/>
</operation>
<operation name="getSavingsBalance">
<input wsam:Action="http://facade.beans/CustomerFacade/getSavingsBalanceRequest" message="tns:getSavingsBalance"/>
<output wsam:Action="http://facade.beans/CustomerFacade/getSavingsBalanceResponse" message="tns:getSavingsBalanceResponse"/>
</operation>
</portType>
<binding name="CustomerFacadePortBinding" type="tns:CustomerFacade">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="add">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="transfer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createCreditRequest">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="purchaseOnCreditCard">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="paybackCreditCard">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="depositSavingsAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="withdrawSavingsAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSavingsBalance">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="B2B">
<port name="CustomerFacadePort" binding="tns:CustomerFacadePortBinding">
<soap:address location="http://localhost:8080/B2B/CustomerFacade"/>
</port>
</service>
</definitions>